
body{
    background-color: rgb(56, 55, 55);
    font-family: sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    overflow: hidden;
    margin: 0;
}
.container{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    max-width: 400px;
}
.square{
    background-color: #1d1d1d;
    width: 16px;
    height: 16px;
    box-shadow: 0 0 2px #000;
    margin: 2px;
    transition: 2s ease;
}
.square:hover{
    transition-duration: 0s;
}